/*small css animation yeeesssss*/
*{
    margin: 0;
    padding: 0;
    transition-duration: 0.3s;
}
[v-cloak] { display: none;}
::selection{ 
    color: #FF8480; background-color: #fff1e4;
}
body{
    background-color: #FF8480;
}
.main,.iloveyou,.plsmargin{
    margin: auto;
}
.main{
    overflow: hidden;
    width: 1500px; height: 100%;
    @media (max-width: 423px) {
        position: relative;
        top: -960px; left: -550px;
        transform: scale(0.3);
    }
}
h1{
    margin: 20px auto;
    text-align: center;
    font-size: 52px;
    color: #fff1e4;
    text-shadow: 0px 0px 5px #fff1e483;
    font-family: "Comfortaa", serif;
    z-index: 100;
    @media (max-width: 1023px) {
        font-size: 96px;
        margin-top: 200px;
    }
    @media (max-width: 425px) {
        font-size: 40vw;
    }   
}
p{
    color: #fff1e4;
    text-align: center;
    font-family: "Comfortaa", serif;
    font-size: 20px;
    @media (max-width: 1023px) {
        font-size: 40px;
    }
    @media (max-width: 425px) {
        font-size: 20vw;
    }   
}
.placeholder{
    margin: auto;
    @media (max-width: 1023px) {
        margin-bottom: 350px;
    }
    @media (max-width: 425px) {
        margin-bottom: 800px;
    }   
}
.h1-first{
    @media (max-width: 1023px) {
        margin-top: 50px;
    }
    @media (max-width: 425px) {
        margin-top: 100px;
    }  
}
.h1-second{
    @media (max-width: 425px) {
        margin-top: 500px;
    }  
}
.hearts-all{
    width: 1300px; height: 100px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    justify-items: center;
    @media (max-width: 1023px) {
        width: 1000px;
    }
    @media (max-width: 425px) {
        position: relative;
    } 
}
.toHide{
    @media (max-width: 425px) {
        display: none;
    } 
}
.hearts-left{
    width: 400px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 1023px) {
        transform: scale(1.5);
    }
    @media (max-width: 425px) {
        width: 150px;
        margin: auto;
        transform: scale(4);
    } 
}
.hearts-right{
    width: 400px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 1023px) {
        transform: scale(1.5);
    }
    @media (max-width: 425px) {
        width: 150px;
        margin: auto;
        transform: scale(4);
    } 
}
.heart-piece{
    position: relative;
    top: -10px;
    width: 50px; height: 100px;
    margin-left: 50px;
    animation: heartSwing 3s ease-in-out infinite;
    @media (max-width: 1023px) {
        margin-left: 30px;
    }
    @media (max-width: 424px) {
        margin-left: 25px;
    }
}
.changePos{
    @media (max-width: 424px) {
        transform: translateY(400px);
    }
}
.one{
    top: -120px;
    animation: heartSwingLight 4s ease-in-out infinite;
}
.two{
    top: -40px;
    animation: heartSwing 3s -0.5s ease-in-out infinite;
}
.three{
    top: -40px;
    animation: heartSwingLight 4s -1s ease-in-out infinite;
}
.five{
    animation: heartSwingLight 3s ease-in-out infinite;
}
.four{
    top: -120px;
}
.added{
    top: -250px;
    animation: heartSwing 2s ease-in-out infinite;
}
.slower{
    top: -200px;
    animation: heartSwing 4s ease-in-out infinite;
}
.line{
    height: 400px; width: 2px;
    background-color: rgb(136, 72, 56);
}
.heart-small-left{
    position: absolute;
    width: 30px; height: 50px;
    background-color: #e24d4d;
    border-radius: 100px 100px 0 0;
    z-index: 4;
    transform: rotate(-45deg);
}
.heart-small-right{
    position: absolute;
    left: 14px;
    width: 30px; height: 50px;
    background-color: #e24d4d;
    border-radius: 100px 100px 0 0;
    z-index: 4;
    transform: rotate(45deg);
}
.heart-small{
    position: relative;
    left: -21px; top: -30px
}
.iloveyou{
    display: block;
    width: 350px; height: 450px;
    animation: floatingAnim 1s -1s ease-in-out infinite;
    margin: 20px auto;
    @media (max-width: 1023px) {
        animation: floatingAnimSmallScreen 1s ease-in-out infinite;
    }
    @media (max-width: 425px) {
        animation: floatingAnimEvenSmallerScreen 1s ease-in-out infinite;
        position: relative; top: -100px;
    }   
}
.iloveyou>div{
    background-size: contain;
    width: 300px; height: 300px;
    position: absolute;
}
.head{
    animation: headTilt 2s -0.7s ease-in-out infinite;
}
.heart{
    left: 110px; top: 40px;
    z-index: 2;
    animation: heartBeat 2s -1s ease-in-out infinite;
}
.heart-left{
    position: absolute;
    top: 70px; left: 65px;
    width: 90px; height: 150px;
    background-color: #e24d4d;
    border-radius: 100px 100px 0 0;
    z-index: 4;
    transform: rotate(-45deg);
}
.heart-right{
    position: absolute;
    top: 70px; left: 107.5px;
    width: 90px; height: 150px;
    background-color: #e24d4d;
    border-radius: 100px 100px 0 0;
    z-index: 4;
    transform: rotate(45deg);
}
.body{
    left: 0px; top: 80px;
    transform: rotate(10deg);
    animation: bodySwing 2s -1s ease-in-out infinite;
}
.front-arm{
    left: 90px; top: 20px;
    z-index: 3;
    transform: rotate(45deg);
    animation: armSwingFront 2s -0.5s ease-in-out infinite;
}
.back-arm{
    left: 90px; top: 120px;
    z-index: 1;
    animation: armSwingBack 2s -0.8s ease-in-out infinite;
}
.front-leg{
    left: 60px; top: 210px;
    z-index: 1;
    transform: rotate(150deg);
    animation: legSwingFront 2s -2s ease-in-out infinite;
}
.back-leg{
    left: -10px; top: 220px;
    animation: legSwingBack 2s -0.8s ease-in-out infinite;
    z-index: 3;
}
.head-base{
    position: absolute;
    top: 75px; left: 80px;
    width: 135px; height: 130px;
    background-color: rgb(241, 217, 188);
    border-radius: 140px 140px 90px 140px;
    z-index: 4;
}
.ear{
    position: absolute;
    top: 70px; left: -10px;
    width: 35px; height: 30px;
    background-color: rgb(241, 217, 188);
    border-radius: 70px 100px 0 70px;
    z-index: 4;
    transform: rotate(330deg);
}
.earring{
    position: absolute;
    top: 19px; left: 5px;
    width: 7px; height: 7px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    z-index: 4;
    transform: rotate(330deg);
}
.face{
    position: absolute;
    top: 0px; left: 9px;
    animation: faceSquish 2s -1s ease-in-out infinite;
}
.eye{
    position: absolute;
    top: 65px; left: 30px;
    width: 32px; height: 32px;
    background-color: rgb(30, 25, 21);
    border-radius: 100%;
}
.eye-second{
    position: absolute;
    top: 65px; left: 85px;
    width: 32px; height: 32px;
    background-color: rgb(30, 25, 21);
    border-radius: 100%;
}
.eye-color{
    position: absolute;
    top: 12px; left: 3px;
    width: 25px; height: 18px;
    border-radius: 100%;
    background-color: rgb(66, 55, 44);
}
.eye-sparkle{
    position: absolute;
    top: 5px; left: 5px;
    width: 10px; height: 10px;
    background-color: #fff1e4;
    border-radius: 100%;
    z-index: 4;
    animation: eyeSparkleAnim 1s -1s ease-in-out infinite;
}
.mouth{
    position: absolute;
    top: 95px; left: 70px;
    font-size: 30px;
    transform: rotate(90deg);
    color: rgb(108, 55, 31);
    font-family: "Inconsolata", serif;
}
.blush{
    position: absolute;
    top: 95px; left: 25px;
    width: 20px; height: 10px;
    background-color: rgb(235, 191, 160);
    border-radius: 100%;
    z-index: 4;
    transform: rotate(5deg);
}
.blush-second{
    position: absolute;
    top: 90px; left: 110px;
    width: 17px; height: 10px;
    background-color: rgb(235, 191, 160);
    border-radius: 100%;
    z-index: 4;
    transform: rotate(-10deg);
}
.hair-left-bang{
    position: absolute;
    top: 70px; left: 70px;
    width: 91px; height: 90px;
    background-color: rgb(38, 33, 28);
    border-radius: 50% 0% 100% 0%;
    z-index: 5;
    animation: bangsAnim 2s -1s ease-in-out infinite;
}
.hair-right-bang{
    position: absolute;
    top: 70px; left: 165px;
    width: 60px; height: 80px;
    background-color: rgb(38, 33, 28);
    border-radius: 0% 100% 0% 100%;
    z-index: 5;
    transform: rotate(355deg);
    animation: bangsAnimLeft 2s -1s ease-in-out infinite;

}
.hair-back-first{
    position: absolute;
    top: 50px; left: 45px;
    width: 190px; height: 170px;
    background-color: rgb(38, 33, 28);
    border-radius: 45%;
    z-index: 1;
    transform: rotate(10deg);
}
.hair-back-second{
    position: absolute;
    top: 100px; left: 60px;
    width: 140px; height: 130px;
    background-color: rgb(38, 33, 28);
    border-radius: 25%;
    z-index: 1;
    transform: rotate(20deg);
    animation: hairBack 2s -1s ease-in-out infinite;
}
.ahoge{
    position: absolute;
    top: 30px; left: 150px;
    width: 5px; height: 30px;
    background-color: rgb(38, 33, 28);
    border-radius: 25px;
    z-index: 5;
    transform: rotate(20deg);
    animation: ahogeAnim 2s -1s ease-in-out infinite;
}
.ahoge-second{
    position: absolute;
    top: 35px; left: 140px;
    width: 5px; height: 25px;
    background-color: rgb(38, 33, 28);
    border-radius: 25px;
    z-index: 5;
    transform: rotate(330deg);
    animation: ahogeAnimSecond 2s -1s ease-in-out infinite;
}
.body-base{
    background-color: black;
    position: absolute;
    top: 180px; left: 70px;
    width: 80px; height: 110px;
    z-index: 1;
    border-radius: 10px;
    transform: rotate(30deg);
    animation: bodySwing 2s -1s ease-in-out infinite;
}
.hand-first{
    position: absolute;
    background-color: rgb(241, 217, 188);
    height: 35px; width: 40px;
    top: 140px; left: 130px;
    border-radius: 100%;
    z-index: 5;
}
.hand-second{
    position: absolute;
    background-color: rgb(241, 217, 188);
    height: 35px; width: 40px;
    top: 140px; left: 130px;
    border-radius: 100%;
    z-index: 5;
}
.limb-base{
    position: absolute;
    background-color: black;
    height: 120px; width: 25px;
    top: 130px; left: 140px;
    border-radius: 50px;
}
.limb-base-arm{
    position: absolute;
    background-color: black;
    height: 100px; width: 20px;
    top: 160px; left: 140px;
    border-radius: 10px 10px 25px 25px;
}
@keyframes eyeSparkleAnim {
    50%{
        transform: scale(1.1);
    }
}
@keyframes heartSwing{
    0%{
        transform: rotate(-5deg);
    }
    50%{
        transform: rotate(5deg);
    }
    100%{
        transform: rotate(-5deg);
    }
}
@keyframes heartSwingLight{
    0%{
        transform: rotate(-2deg);
    }
    50%{
        transform: rotate(2deg);
    }
    100%{
        transform: rotate(-2deg);
    }
}
@keyframes floatingAnim {
    50%{
        transform: translateY(30px);
    }
}
@keyframes floatingAnimSmallScreen {
    0%{
        transform: scale(2);
    }
    50%{
        transform: translateY(30px) scale(2);
    }
    100%{
        transform: scale(2);
    }
}
@keyframes floatingAnimEvenSmallerScreen {
    0%{
        transform: scale(3.5);
    }
    50%{
        transform: translateY(30px) scale(3.5);
    }
    100%{
        transform: scale(3.5);
    }
}
@keyframes bangsAnim {
    50%{
        transform: scale(1.1, 1) translateX(3px);
    }
}
@keyframes bangsAnimLeft {
    50%{
        transform: scale(0.9, 1) translate(2px, -2px);
    }
}
@keyframes faceSquish{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.95, 1) translate(10px, 0);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes hairBack{
    0%{
        transform: rotate(20deg);
    }
    50%{
        transform: rotate(20deg) translate(-10px, 10px) skew(-20deg);
    }
    100%{
        transform: rotate(20deg);
    }
}
@keyframes ahogeAnim {
    0%{
        transform: rotate(10deg);
    }
    50%{
        transform: rotate(50deg) translateX(5px) scale(0.9, 1.2);
    }
    100%{
        transform: rotate(10deg);
    }
}
@keyframes ahogeAnimSecond {
    0%{
        transform: rotate(320deg);
    }
    50%{
        transform: rotate(350deg) translateX(5px) scale(0.9, 1.2);
    }
    100%{
        transform: rotate(320deg);
    }
}
@keyframes bodySwing{
    0%{
        transform: translateY(0) rotate(10deg) scaleX(0.9);
    }
    50%{
        transform: translate(-10px, -10px) rotate(15deg) scaleX(0.7) skew(-10deg);
    }
    100%{
        transform: translateY(0) rotate(10deg) scaleX(0.9);
    }
}
@keyframes legSwingFront{
    0%{
        transform: translateX(-40px) rotate(160deg) scale(0.9, 1);
    }
    50%{
        transform: translate(20px, -5px) rotate(130deg) scale(0.9, 1.1);
    }
    100%{
        transform: translateX(-40px) rotate(160deg) scale(0.9, 1);
    }
    
}
@keyframes legSwingBack{
    0%{
        transform: translate(-10px, 10px) rotate(170deg) scale(0.9, 1.1);
    }
    50%{
        transform: translate(35px, -20px) rotate(150deg) scale(1.1, 0.9);
    }
    100%{
        transform: translate(-10px, 10px) rotate(170deg) scale(0.9, 1.1);
    }
    
}
@keyframes armSwingFront {
    0%{
        transform: translate(-20px, -10px) rotate(45deg) scale(0.9, 1.1);
    }
    50%{
        transform: translate(10px, 0) rotate(60deg) scale(1.1);
    }
    100%{
        transform: translate(-20px, -10px) rotate(45deg) scale(0.9, 1.1);
    }
}
@keyframes armSwingBack {
    0%{
        transform: translateX(0) rotate(110deg) scale(0.9, 1.1);
    }
    50%{
        transform: translate(-10px, 20px) rotate(120deg) scale(0.9);
    }
    100%{
        transform: translateX(0) rotate(110deg) scale(0.9, 1.1);
    }
}
@keyframes heartBeat {
    0%{
        transform: translate(10px, 20px) rotate(40deg) scale(1.2, 1.1);
    }
    50%{
        transform: translate(30px, 10px) rotate(50deg) scale(1.2, 1.3);
    }
    100%{
        transform: translate(10px, 20px) rotate(40deg) scale(1.2, 1.1);
    }
}
@keyframes headTilt {
    0%{
        transform: translateX(0px) rotate(350deg) scale(1, 1.1);
    }
    50%{
        transform: translateX(5px) rotate(340deg) scale(1);
    }
    100%{
        transform: translateX(0px) rotate(350deg) scale(1, 1.1);
    }
}
a{
    margin: 50px auto; padding: 20px 40px;
    text-align: center;
    display: block;
    width: 200px;
    color: #fff1e4;
    border: none;
    font-size: 23px;
    background-color: #e24d4d;
    border-radius: 10px;
    font-family: "Comfortaa", serif;
    text-decoration: none;
    @media (max-width: 1023px) {
        font-size: 40px;
        width: 300px;
    }
    @media (max-width: 425px) {
        font-size: 20vw;
        width: 600px;
    } 
}
a:hover, a:active{
    background-color: #d53d3d;
    border-radius: 20px;
    text-shadow: 0px 0px 10px #fff1e4;
    width: 240px;
    @media (max-width: 1023px) {
        width: 340px;
    }
    @media (max-width: 425px) {
        width: 640px;
    }
}
a::selection{ color: #d53d3d; background-color: #fff1e4; }